<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<div id="contact" class="container-fluid d-flex justify-content-center align-items-center h-100">
  <div id="contact-inner" class="justify-content-center align-items-center">
    <h1 style="text-align: center"> Thank you for checking out my website! 😄 </h1>
    <h5 style="text-align: center"> I will be graduating in May 2023 and am actively looking for job opportunities,<br>so please feel free to reach out!</h5>
    <h3 style="text-align: center"> Check out all my socials below to get in touch with me 😃 </h3>
    <img src="{{arrowPath}}" class="arrow" alt="{{arrowAltString}}" />
  </div>
</div>
