:root {
}

#skills {
  min-height: 100vh;
}

.company-logo {
  width: 10vh;
  height: 10vh;
}

#details {
  margin-top: 10vh;
}

#tabs {
  align-content: center;
  align-self: center;
}

.nav-item-extra {
  background-color: white;
  color: deepskyblue;
  border: 1px solid navy;
  margin-left: 1px;
  margin-right: 1px;
}

.nav-item-extra:hover {
  background-color: deepskyblue;
  color: black !important;
}

.loader-skills {
  z-index: 999;
  overflow: visible;
  margin: auto;
  left: 0;
  right: 0;
  width: 30px;
  height: 30px;
}

.component-hidden {
  display: none;
}

.component-visible {
  display: flex !important;
}

.active {
  background-color: deepskyblue;
  color: white;
}
