<app-header></app-header>
<div id="loader-principal" class="d-flex justify-content-center align-items-center loader loader-visible">
  <img src="{{loaderPath}}" alt="loading..." />
</div>
<app-home class="overseer component-hidden"></app-home>
<app-about class="overseer component-hidden"></app-about>
<app-projects class="overseer component-hidden"></app-projects>
<app-skills class="overseer component-hidden"></app-skills>
<app-contact class="overseer component-hidden"></app-contact>
<app-footer></app-footer>
