<div id="home" class="container-fluid d-flex justify-content-center align-items-center h-100">
  <div id="inner">
    <div id="intro-prompter">
      <p class="intro-heading-prompter">Hello there! Meet ↯</p>
    </div>
    <div id="intro-heading-disclaimer" class="d-flex justify-content-center">
      <h1 class="fa-solid fa-text intro-heading-name">Abhishek Mitra</h1>
      <h2 class="intro-heading-subtext">I am (trying to be) a full stack developer 💻</h2>
    </div>
    <div id="intro-text" class="d-flex justify-content-center">
      <p class="intro-description">
        I am current pursuing a <b>Masters in Computer Science</b> at the
      </p>
      <h3 class="fa-thin fa-text intro-heading-subtext">
        University of Southern California, Los Angeles.
      </h3>
      <p class="intro-heading-subtext">
        I love web development, DevOps, gaming, literature and music,<br>
        and I am constantly looking for ways to fuse these interests!<br>
        I am interested in anything from frontend/backend/full stack development<br>
        to game design, VR design, streaming, and microservices development!<br>
        I am <b>currently on the lookout for job opportunities</b> to further my career. 😊
      </p>
    </div>
    <div id="button-area-outer" class="container-fluid d-flex justify-content-center align-items-center">
      <div id="resume-button-container">
        <a class="btn bi-download" href="./assets/home/resume.pdf" target="_blank">&nbsp;Resume</a>
      </div>
    </div>
  </div>
</div>
